server:
  port: ${ALCHA_BACKEND_PORT}

spring:
  application:
    name: alcha-backend
  config:
    import:
      - optional:file:.env[.properties]
  # Kafka 설정 
  kafka:
    bootstrap-servers: ${KAFKA_HOST}:${KAFKA_PORT}
  # Redis 설정
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      database: 0
