# Docker Compose 버전 지정
version: '3.8'

# 서비스 정의 
services:
  # Kafka 커넥터 서비스 정의
  kafka-connector:
    # Dockerfile로 로컬에서 이미지 빌드
    build: .
    # 컨테이너 이름 지정
    container_name: vehicle-data-connector
    # 컨테이너 재시작 정책 지정
    restart: unless-stopped
    # 환경변수 설정
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=${KAFKA_BOOTSTRAP_SERVERS}
      - KAFKA_GROUP_ID=${KAFKA_GROUP_ID}
      - KAFKA_SASL_USERNAME=${KAFKA_SASL_USERNAME}
      - KAFKA_SASL_PASSWORD=${KAFKA_SASL_PASSWORD}
      - MONGO_URI=${MONGO_URI}
      - MONGO_DB_NAME=${MONGO_DB_NAME}

    # 컨테이너 내부 파일 시스템 마운트
    volumes:
      - ./.env:/app/.env    
    # 컨테이너 간 통신을 위한 네트워크 설정
    networks:
      - vehicle-network

# 네트워크 정의
networks:
  # 사용자 정의 네트워크 생성
  vehicle-network:
    # 브리지 네트워크 드라이버 사용 (기본값)
    driver: bridge